@import '../common/variables';

.el-breadcrumb {
  .el-breadcrumb__item {
    font-family: $font-family;

    .el-breadcrumb__inner {
      color: $steel;
      font-weight: 400;
      font-size: 12px;
      text-transform: uppercase;
      cursor: default;
    }

    &:last-child {
      .el-breadcrumb__inner {
        color: $steel;
        font-weight: 600;
      }
    }
  }
}
