@import '../common/variables';

.ui.steps {
  width: 100%;

  .step {
    padding-top: 0.8em;
    padding-bottom: 0.8em;

    @media #{$medium-and-down} {
      padding-top: 0.8em !important;
      padding-bottom: 0.8em !important;
    }

    .content {
      .title {
        font-family: $font-family;
        font-weight: 400;
        font-size: 14px;
      }
    }

    &.active {
      background-color: $pale-grey;

      .content {
        .title {
          color: $charcoal-grey;
        }
      }
    }

    &.disabled {
      .content {
        .title {
          color: $steel;
        }
      }
    }
  }
}
