// ==========================================================================
// Classes
// ==========================================================================

//  1. Buttons
// ==========================================================================

.button-mobile-filter {
  padding: 8px 15px;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  
  > .button {
    background-color: white;
    margin: 2px 0;
  }
}

//  2. Titles
// ==========================================================================

.heading-1 {
  color: $gunmetal;
  font: {
    size: 52px;
    weight: 700;
  }
  line-height: 62px;
}

.title-2 {
  color: $charcoal-grey;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 15px;
}




//  3. Tags
// ==========================================================================

.tags {
  display: flex;
  flex-wrap: wrap;

  @media #{$small-and-down} {
    margin-bottom: 10px;
    margin-left: 0;
  }
  .tag {
    background-color: $pale-grey;
    padding: 8px 20px;
    font-size: 11px;
    color: $gunmetal;
    margin: 2px;
  }
}

//  4. Loading
// ==========================================================================

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

//  5. Texts
// ==========================================================================

.text {
  color: $steel;
  font: {
    size: 16px;
    weight: 500;
  }
  line-height: 20px;

  > strong {
    font-weight: 600;
  }
}