// ==========================================================================
// Fishtripr colors
// ==========================================================================

//  Primary
// ==========================================================================

$pale-teal: #53D7AD;

//  Secondary
// ==========================================================================

$charcoal-grey: #353745;
$gunmetal: #464855;
$battleship-grey: #6b6f81;
$steel: #898ea2;
$pale-grey: #e4e5ec;

//  Tags colors
// ==========================================================================

$tag-guideNHost: #666EE8;
$tag-guide: #BE7A0B;
$tag-host: #36BEFB;
$tag-fishery: #7C8E72;

//  Background
// ==========================================================================

$pale-grey-two: #f4f5fa;
$cloudy-blue: #c0c4d1;
$bg-icon-footer: #3A3C4C;

//  Uncategorized
// ==========================================================================

$apricot: #ffbf71;
$duck-egg-blue: #fbfcff;

//  promo
// ============================================================================

$pink: #fa6e6e;

$white: #FFF;


// ==========================================================================
// Theme
// ==========================================================================

//  Text
// ==========================================================================

$color-text: $steel;
$color-link: $gunmetal;
