// ==========================================================================
// Containers
// ==========================================================================

//  1. Global
// ==========================================================================

.container {
  margin: 0 auto;
  max-width: 1280px;
  min-width: 960px;
  width: 60%;
  @media #{$large-and-down} {
    width: 70%;
    min-width: 860px;
  }
  @media #{$medium-and-down} {
    width: 80%;
    min-width: 460px;
  }
  @media #{$small-and-down} {
    width: 90%;
    min-width: 260px;
  }
}