// ==========================================================================
// Fonts
// ==========================================================================

//  Import font
// ==========================================================================

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900');

//  Variables
// ==========================================================================

// Font
$font-family: 'Montserrat', sans-serif;

// Font-size
$font-size-xs: 0.7rem;
$font-size-s: 0.9rem;
$font-size-m: 1.1rem;
$font-size-l: 1.3rem;
$font-size-xl: 1.5rem;

$line-height-m: $font-size-m * 1.4;

$letter-spacing: 0.008rem;